body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    padding: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(0, 162, 255);
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem;
    background-color: #f5f5f5;
}
.display {
    grid-column: span 3;
    text-align: right;
    background-color: #fff;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.5rem;
}
button {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
}

button:hover, button:active {
    background-color: green;
    border:none;
    color: #fff;
}

.operator {
    background-color: rgb(55, 55, 102);
    border: none;
    color: #f5f5f5;
}
.equalbtn {
    background-color: rgb(25, 73, 25);
    color: #f5f5f5;
    border: none;
}

.clearbtn {
    background-color: red;
    color: #f5f5f5;
    border: none;
}